body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:376px;
  top:927px;
  width:630px;
  height:191px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:191px;
}
#u1 {
  position:absolute;
  left:2px;
  top:88px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:218px;
  width:320px;
  height:561px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:561px;
}
#u3 {
  position:absolute;
  left:2px;
  top:272px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:548px;
  width:320px;
  height:212px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:212px;
}
#u5 {
  position:absolute;
  left:2px;
  top:98px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:34px;
  top:526px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:34px;
  top:564px;
  width:296px;
  height:180px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:180px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:34px;
  top:728px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:96px;
  top:730px;
  width:9px;
  height:14px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:712px;
  width:320px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u15 {
  position:absolute;
  left:20px;
  top:477px;
  width:320px;
  height:39px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:31px;
  top:488px;
  width:287px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:20px;
  top:258px;
  width:320px;
  height:74px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:74px;
}
#u20 {
  position:absolute;
  left:2px;
  top:29px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:31px;
  top:265px;
  width:59px;
  height:62px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:62px;
}
#u22 {
  position:absolute;
  left:2px;
  top:23px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:20px;
  top:331px;
  width:320px;
  height:74px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:74px;
}
#u24 {
  position:absolute;
  left:2px;
  top:29px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:31px;
  top:338px;
  width:59px;
  height:62px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:62px;
}
#u26 {
  position:absolute;
  left:2px;
  top:23px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:100px;
  top:347px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:20px;
  top:404px;
  width:320px;
  height:74px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:74px;
}
#u30 {
  position:absolute;
  left:2px;
  top:29px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:31px;
  top:411px;
  width:59px;
  height:62px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:62px;
}
#u32 {
  position:absolute;
  left:2px;
  top:23px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:420px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:100px;
  top:295px;
  width:21px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:100px;
  top:368px;
  width:35px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:100px;
  top:441px;
  width:35px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:239px;
  top:347px;
  width:74px;
  height:32px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:239px;
  top:279px;
  width:74px;
  height:32px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:239px;
  top:417px;
  width:74px;
  height:32px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:390px;
  top:232px;
  width:320px;
  height:601px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:601px;
}
#u48 {
  position:absolute;
  left:2px;
  top:292px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:390px;
  top:241px;
  width:320px;
  height:44px;
  font-family:'华文细黑 Regular', '华文细黑';
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:508px;
  top:248px;
  width:80px;
  height:27px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u52 {
  position:absolute;
  left:2px;
  top:1px;
  width:76px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:390px;
  top:218px;
  width:320px;
  height:24px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:395px;
  top:248px;
  width:80px;
  height:27px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u56 {
  position:absolute;
  left:2px;
  top:1px;
  width:76px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:390px;
  top:474px;
  width:320px;
  height:125px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:125px;
}
#u58 {
  position:absolute;
  left:2px;
  top:54px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:412px;
  top:482px;
  width:62px;
  height:66px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:66px;
}
#u60 {
  position:absolute;
  left:2px;
  top:25px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:390px;
  top:342px;
  width:320px;
  height:102px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:102px;
}
#u62 {
  position:absolute;
  left:2px;
  top:43px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:414px;
  top:350px;
  width:74px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:414px;
  top:376px;
  width:117px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:412px;
  top:395px;
  width:248px;
  height:40px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:40px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:524px;
  top:482px;
  width:153px;
  height:26px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:412px;
  top:571px;
  width:153px;
  height:26px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:544px;
  top:514px;
  width:34px;
  height:24px;
  font-size:20px;
  color:#F39611;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:522px;
  top:514px;
  width:21px;
  height:24px;
  font-size:20px;
  color:#F39611;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:687px;
  top:374px;
  width:9px;
  height:14px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:404px;
  top:554px;
  width:292px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u80 {
  position:absolute;
  left:390px;
  top:629px;
  width:320px;
  height:121px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:121px;
}
#u81 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:404px;
  top:685px;
  width:219px;
  height:26px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:26px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:404px;
  top:724px;
  width:153px;
  height:26px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:404px;
  top:706px;
  width:292px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u87 {
  position:absolute;
  left:843px;
  top:232px;
  width:320px;
  height:472px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:472px;
}
#u88 {
  position:absolute;
  left:2px;
  top:228px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:843px;
  top:241px;
  width:320px;
  height:44px;
  font-family:'华文细黑 Regular', '华文细黑';
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u90 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:956px;
  top:248px;
  width:80px;
  height:27px;
  font-family:'华文细黑 Bold', '华文细黑';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u92 {
  position:absolute;
  left:2px;
  top:1px;
  width:76px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:843px;
  top:218px;
  width:320px;
  height:24px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:848px;
  top:248px;
  width:80px;
  height:27px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
}
#u96 {
  position:absolute;
  left:2px;
  top:1px;
  width:76px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:843px;
  top:414px;
  width:320px;
  height:43px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:853px;
  top:345px;
  width:300px;
  height:50px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u100 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:863px;
  top:427px;
  width:161px;
  height:16px;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:843px;
  top:456px;
  width:320px;
  height:43px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u104 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:863px;
  top:470px;
  width:161px;
  height:16px;
  font-size:14px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:843px;
  top:498px;
  width:320px;
  height:43px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u108 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:863px;
  top:509px;
  width:109px;
  height:16px;
  font-size:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:843px;
  top:540px;
  width:320px;
  height:43px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u112 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:863px;
  top:551px;
  width:197px;
  height:16px;
  font-size:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:1144px;
  top:553px;
  width:9px;
  height:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u116 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:843px;
  top:582px;
  width:320px;
  height:43px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
}
#u118 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:863px;
  top:593px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:864px;
  top:635px;
  width:278px;
  height:35px;
  color:#138AF8;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:35px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:274px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:924px;
  top:159px;
  width:147px;
  height:39px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:471px;
  top:159px;
  width:147px;
  height:39px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:680px;
  top:682px;
  width:9px;
  height:14px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u128 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:723px;
  top:873px;
  width:147px;
  height:39px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:39px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:944px;
  top:310px;
  width:127px;
  height:16px;
  font-size:18px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:404px;
  top:454px;
  width:86px;
  height:18px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:404px;
  top:607px;
  width:86px;
  height:18px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:404px;
  top:662px;
  width:292px;
  height:10px;
}
#u137_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_end {
  position:absolute;
  left:275px;
  top:-5px;
  width:18px;
  height:20px;
}
#u137_line {
  position:absolute;
  left:0px;
  top:5px;
  width:292px;
  height:1px;
}
#u138 {
  position:absolute;
  left:404px;
  top:640px;
  width:153px;
  height:26px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:390px;
  top:782px;
  width:320px;
  height:38px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:38px;
}
#u141 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:404px;
  top:760px;
  width:86px;
  height:18px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:18px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:404px;
  top:794px;
  width:153px;
  height:26px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:390px;
  top:285px;
  width:320px;
  height:52px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
}
#u147 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:414px;
  top:303px;
  width:74px;
  height:16px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:570px;
  top:303px;
  width:34px;
  height:16px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:618px;
  top:292px;
  width:78px;
  height:35px;
  color:#F39D38;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
}
#u153 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:386px;
  top:946px;
  width:214px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:50px;
}
#u155 {
  position:absolute;
  left:2px;
  top:16px;
  width:210px;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:610px;
  top:946px;
  width:155px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u157 {
  position:absolute;
  left:2px;
  top:16px;
  width:151px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:786px;
  top:946px;
  width:199px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u159 {
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:386px;
  top:1006px;
  width:219px;
  height:80px;
  font-size:16px;
  color:#FFFFFF;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:80px;
}
#u161 {
  position:absolute;
  left:2px;
  top:21px;
  width:215px;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:690px;
  top:305px;
  width:130px;
  height:0px;
}
#u162_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:144px;
  height:20px;
}
#u163 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:760px;
  top:305px;
  width:0px;
  height:555px;
}
#u164_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:569px;
}
#u165 {
  position:absolute;
  left:-50px;
  top:270px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1120px;
  top:657px;
  width:120px;
  height:38px;
}
#u166_seg0 {
  position:absolute;
  left:-10px;
  top:-12px;
  width:20px;
  height:16px;
}
#u166_seg1 {
  position:absolute;
  left:-10px;
  top:-12px;
  width:140px;
  height:20px;
}
#u166_seg2 {
  position:absolute;
  left:110px;
  top:-12px;
  width:20px;
  height:54px;
}
#u167 {
  position:absolute;
  left:29px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1204px;
  top:711px;
  width:120px;
  height:45px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:45px;
}
#u169 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:390px;
  top:847px;
  width:179px;
  height:43px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:390px;
  top:881px;
  width:179px;
  height:43px;
  color:#FF0000;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:43px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:290px;
  top:290px;
  width:260px;
  height:-145px;
}
#u174_seg0 {
  position:absolute;
  left:-10px;
  top:-190px;
  width:20px;
  height:194px;
}
#u174_seg1 {
  position:absolute;
  left:-10px;
  top:-190px;
  width:280px;
  height:20px;
}
#u174_seg2 {
  position:absolute;
  left:250px;
  top:-190px;
  width:20px;
  height:49px;
}
#u175 {
  position:absolute;
  left:8px;
  top:-188px;
  width:100px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1320px;
  top:191px;
  width:320px;
  height:460px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:460px;
}
#u177 {
  position:absolute;
  left:2px;
  top:222px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1412px;
  top:202px;
  width:150px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:1320px;
  top:595px;
  width:320px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
}
#u181 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:1320px;
  top:191px;
  width:320px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u183 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1324px;
  top:198px;
  width:50px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u185 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:1320px;
  top:235px;
  width:320px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u187 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:1334px;
  top:240px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:1334px;
  top:261px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:1331px;
  top:283px;
  width:237px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:1604px;
  top:259px;
  width:28px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u195 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:1371px;
  top:240px;
  width:79px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u197 {
  position:absolute;
  left:2px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u198 {
  position:absolute;
  left:1320px;
  top:601px;
  width:320px;
  height:50px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u199 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:1340px;
  top:609px;
  width:280px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:16px;
  color:#FFFFFF;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:35px;
}
#u201 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:1320px;
  top:325px;
  width:320px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u203 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:1334px;
  top:330px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:1334px;
  top:351px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:1331px;
  top:373px;
  width:237px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:1604px;
  top:349px;
  width:28px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u211 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:1320px;
  top:415px;
  width:320px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u213 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1334px;
  top:420px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:1334px;
  top:441px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u218 {
  position:absolute;
  left:1331px;
  top:463px;
  width:237px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:1604px;
  top:439px;
  width:28px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u221 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:1320px;
  top:505px;
  width:320px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u223 {
  position:absolute;
  left:2px;
  top:37px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:1334px;
  top:510px;
  width:62px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:1334px;
  top:531px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:1331px;
  top:553px;
  width:237px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:38px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:1604px;
  top:529px;
  width:28px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:26px;
}
#u231 {
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:1407px;
  top:202px;
  width:150px;
  height:21px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:21px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u234 {
  position:absolute;
  left:700px;
  top:395px;
  width:766px;
  height:-222px;
}
#u234_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u234_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:50px;
  height:20px;
}
#u234_seg2 {
  position:absolute;
  left:20px;
  top:-256px;
  width:20px;
  height:266px;
}
#u234_seg3 {
  position:absolute;
  left:20px;
  top:-256px;
  width:756px;
  height:20px;
}
#u234_seg4 {
  position:absolute;
  left:756px;
  top:-256px;
  width:20px;
  height:38px;
}
#u235 {
  position:absolute;
  left:222px;
  top:-254px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1690px;
  top:191px;
  width:320px;
  height:460px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:460px;
}
#u237 {
  position:absolute;
  left:2px;
  top:222px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:1632px;
  top:289px;
  width:58px;
  height:0px;
}
#u238_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:72px;
  height:20px;
}
#u239 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:1330px;
  top:735px;
  width:76px;
  height:0px;
}
#u240_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:90px;
  height:20px;
}
#u241 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:963px;
  top:733px;
  width:200px;
  height:63px;
  color:#FF0000;
}
#u242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:63px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1165px;
  top:843px;
  width:199px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u245 {
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u246 {
  position:absolute;
  left:1430px;
  top:711px;
  width:219px;
  height:80px;
  font-size:16px;
  color:#FFFFFF;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:80px;
}
#u247 {
  position:absolute;
  left:2px;
  top:21px;
  width:215px;
  word-wrap:break-word;
}
#u248 {
  position:absolute;
  left:1260px;
  top:765px;
  width:0px;
  height:67px;
}
#u248_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:81px;
}
#u249 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:1155px;
  top:865px;
  width:-25px;
  height:-140px;
}
#u250_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u250_seg1 {
  position:absolute;
  left:-35px;
  top:-10px;
  width:45px;
  height:20px;
}
#u250_seg2 {
  position:absolute;
  left:-35px;
  top:-144px;
  width:20px;
  height:154px;
}
#u251 {
  position:absolute;
  left:-75px;
  top:-66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:1180px;
  top:655px;
  width:0px;
  height:180px;
}
#u252_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:194px;
}
#u253 {
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:850px;
  top:266px;
  width:-790px;
  height:-66px;
}
#u254_seg0 {
  position:absolute;
  left:-45px;
  top:-10px;
  width:49px;
  height:20px;
}
#u254_seg1 {
  position:absolute;
  left:-45px;
  top:-216px;
  width:20px;
  height:226px;
}
#u254_seg2 {
  position:absolute;
  left:-800px;
  top:-216px;
  width:775px;
  height:20px;
}
#u254_seg3 {
  position:absolute;
  left:-800px;
  top:-216px;
  width:20px;
  height:154px;
}
#u255 {
  position:absolute;
  left:-412px;
  top:-214px;
  width:100px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:847px;
  top:250px;
  width:45px;
  height:27px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:27px;
}
#u257 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:290px;
  top:130px;
  width:-110px;
  height:0px;
}
#u258_seg0 {
  position:absolute;
  left:-114px;
  top:-10px;
  width:124px;
  height:20px;
}
#u259 {
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:96px;
  top:108px;
  width:64px;
  height:42px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:42px;
}
#u261 {
  position:absolute;
  left:2px;
  top:13px;
  width:60px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:140px;
  top:100px;
  width:210px;
  height:0px;
}
#u262_seg0 {
  position:absolute;
  left:-10px;
  top:-30px;
  width:20px;
  height:34px;
}
#u262_seg1 {
  position:absolute;
  left:-10px;
  top:-30px;
  width:230px;
  height:20px;
}
#u262_seg2 {
  position:absolute;
  left:200px;
  top:-30px;
  width:20px;
  height:40px;
}
#u262_seg3 {
  position:absolute;
  left:200px;
  top:-4px;
  width:20px;
  height:14px;
}
#u263 {
  position:absolute;
  left:55px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
